body {
  margin: 0 !important;
  padding: 0 !important;
}

.header {
  background-image: url(./banner.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.header .about-sign-in {
  text-align: right;
  margin-right: 380px;
}
.header .about-sign-in .about {
  color: black;
}
.header .about-sign-in .sign-in {
  border: 2px solid #8bc34a;
  color: #8bc34a;
}
.header .about-sign-in .about,
.header .about-sign-in .sign-in {
  display: inline-block;
  padding: 8px 20px;
  margin: 51px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 15px;
  font-family: fantasy;
}
.header .content-img {
  background-image: url(./hapoERP.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 77px;
  margin-top: 90px;
}
.header .content-icon .detail-icon {
  width: 33%;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
}
.header .content-icon .detail-icon img {
  width: 52px;
  height: 48px;
}
.header .content-icon .detail-icon span {
  font-size: 35px;
  display: block;
}
.header .content-btn {
  text-align: center;
}
.header .content-btn span {
  display: block;
  margin: 30px;
  font-size: 20px;
  font-style: italic;
}
.header .content-btn button {
  padding: 15px 20px;
  font-size: 20px;
  background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
  text-transform: uppercase;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
